body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startpage-background {
    background-image: url("images/pexels-globe.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.popup {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: rgba(245, 245, 245, 0.5);
    width: 500px;
    height: auto;
}

#choose-indicator-optionlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    display: inline-block;
}

.dashboard {
    display: grid;
    width: 100%;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto auto;
}

/* background colors for debugging */
#worldmap {
    background-color: lightblue;
    grid-column: 1; /* first column */ 
    grid-row: 1; /* first row */ 
}

#top5 {
    background-color: lightcoral;
    grid-column: 2;
    grid-row: 1;
}
#scatter-plot {
    background-color: lightcoral;
    grid-column: 2;
    grid-row: 1;
}

#distribution {
    background-color: lightgreen;
    grid-column: 1;
    grid-row: 2;
}

#linegraph {
    background-color: lightgoldenrodyellow;
    grid-column: 2; 
    grid-row: 2;
}

/* set specific height for all grid items */
#worldmap, #top5, #distribution, #linegraph {
    min-height: 350px;
}

#sliderContainer {
    width: 80%;
    margin: 20px auto;
}

input[type=range] {
    -webkit-appearance: none; /* Override default appearance */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #ddd; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (cross-browser) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

input[type=range]::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}