body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.startpage-background {
    background-image: url("images/pexels-globe.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.popup {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: rgba(245, 245, 245, 0.5);
    width: 500px;
    height: auto;
}

#choose-indicator-optionlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    display: inline-block;
  }
