body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    background-image: url("images/pexels-globe.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startpage-background {
    /* background-image: url("images/pexels-globe.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 50pt;
    color: rgb(40, 101, 139);
    margin-top: -50px;
}

#header h2 {
    color: rgb(40, 101, 139);
}

.popup {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-top: 50px;
    background-color: rgba(245, 245, 245, 0.7);
    width: 500px;
    height: auto;
    border-radius: 20px;
    align-items: center;
}

#choose-indicator-optionlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    display: inline-block;
}

button {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    outline: none;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.25);
}

#lifeExpectancyBtn {
    background-color: #4CAF50;
}
#genderEqualityBtn {
    background-color: orange;
}
#gdpPerCapitaBtn {
    background-color: rgb(93, 151, 237);
}
#co2EmissionBtn {
    background-color: rgb(174, 72, 199);
}

#dashboard-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard {
    display: grid;
    width: 100%;
    padding-left: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    position: relative; /* needed to position the pseudo-element */
}

.dashboard::before {
    content: ''; /* pseudo-element to set background opacity */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(245, 245, 245, 0.7); /* whitesmoke with 50% opacity */
    z-index: -1;
}

/* background colors for debugging */
#worldmap {
    /* background-color: lightblue; */
    grid-column: 1; /* first column */ 
    grid-row: 1 / span 2; /* first row */ 
}

#top5 {
    /* background-color: lightcoral; */
    grid-column: 2;
    grid-row: 1;
    width: 100%;
}
#scatter-plot {
    /* background-color: lightcoral; */
    grid-column: 2;
    grid-row: 1;
}

#distribution {
    /* background-color: lightgreen; */
    grid-column: 2;
    grid-row: 2;
}

#linegraph {
    /* background-color: lightgoldenrodyellow; */
    grid-column: 2; 
    grid-row: 3;
}

/* set specific height for all grid items */
/* #worldmap, #top5, #distribution, #linegraph {
    min-height: 350px;
} */

#sliderContainer {
    width: 80%;
    margin: 20px auto;
}

input[type=range] {
    -webkit-appearance: none; /* Override default appearance */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #ddd; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (cross-browser) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

input[type=range]::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#map, #map-country {
    width: 1000px;
    height: 500px;
}
